<a href="https://colab.research.google.com/github/UriyaSela/my-notebooks/blob/main/Unit_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson: Lists

## **Basic List Operations**  

### **Introduction**  
A **list** in Python is an ordered, mutable collection that can store multiple values. Lists are versatile and can contain different data types.  



> can see more here:

https://docs.python.org/3/tutorial/datastructures.html

---

In [ ]:
# Creating a simple list
fruits = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]
print(fruits)

['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']

### Accessing Elements

In [ ]:
# Accessing elements using index
print(fruits[0])  # First element
print(fruits[-1])  # Last element

Apple
Elderberry

### Modifying Elements

In [ ]:
fruits[1] = "Mango"  # Replacing "Banana" with "Mango"
print(fruits)

['Apple', 'Mango', 'Cherry', 'Date', 'Elderberry']

### Adding Elements

In [ ]:
fruits.append("Fig")  # Adds "Fig" to the end
print(fruits)

fruits.insert(2, "Blueberry")  # Inserts "Blueberry" at index 2
print(fruits)

['Apple', 'Mango', 'Cherry', 'Date', 'Elderberry', 'Fig']
['Apple', 'Mango', 'Blueberry', 'Cherry', 'Date', 'Elderberry', 'Fig']

### Removing Elements

In [ ]:
fruits.remove("Cherry")  # Removes "Cherry"
print(fruits)

popped_fruit = fruits.pop()  # Removes and returns the last element
print(popped_fruit)

['Apple', 'Mango', 'Blueberry', 'Date', 'Elderberry', 'Fig']
Fig

### List Slicing

In [ ]:
print(fruits[1:4])  # Get elements from index 1 to 3
print(fruits[:3])  # Get first 3 elements
print(fruits[::2])  # Get every second element

['Mango', 'Blueberry', 'Date']
['Apple', 'Mango', 'Blueberry']
['Apple', 'Blueberry', 'Elderberry']

### Practice Questions

1. Create a list of five colors and print them.
2. Replace the third color with "Purple" and print the updated list.
3. Add "Cyan" to the list using append() and "Magenta" at index 2 using insert().
4. Remove the last element from the list and store it in a variable, then print it.

### **Creating a List**

## **Working with Mixed Data Types in Lists**

A list can contain different types of data, including **integers, strings, booleans, tuples, and even other lists**.

---

### **Creating a Mixed List**

In [ ]:
mixed_list = [42, "Hello", True, 3.14, (1, 2, 3), [10, 20, 30]]
print(mixed_list)

[42, 'Hello', True, 3.14, (1, 2, 3), [10, 20, 30]]

### Accessing Nested Elements

In [ ]:
print(mixed_list[1])  # Accessing "Hello"
print(mixed_list[4][1])  # Accessing second element in tuple (1, 2, 3)
print(mixed_list[5][0])  # Accessing first element in nested list [10, 20, 30]

Hello
2
10

### Modifying Nested Lists

In [ ]:
mixed_list[5][1] = 99  # Changing the second element of the nested list
print(mixed_list)

[42, 'Hello', True, 3.14, (1, 2, 3), [10, 99, 30]]

### Using List Comprehension

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]  # Squaring each number
print(squared_numbers)

[1, 4, 9, 16, 25]

### Filtering Lists

In [ ]:
filtered_numbers = [num for num in numbers if num % 2 == 0]  # Keeping only even numbers
print(filtered_numbers)

[2, 4]

### Sorting Lists with Different Criteria

In [ ]:
words = ["banana", "apple", "cherry", "date"]
words.sort()  # Alphabetical order
print(words)

numbers = [10, 3, 25, 7, 1]
numbers.sort(reverse=True)  # Descending order
print(numbers)

['apple', 'banana', 'cherry', 'date']
[25, 10, 7, 3, 1]

### Practice Questions

1. Create a list containing: an integer, a string, a boolean, a float, and a tuple.
2. Print the third element of the list.
3. Modify the first element of the list and print the updated list.
4. Create a list of numbers and use list comprehension to create a new list with only numbers greater than 10.
5. Sort a list of words in descending order and print it.

## Advanced List Operations: Real-World Use Cases

### **Scenario 1: Processing E-commerce Orders**  
Imagine you are working with an e-commerce dataset where orders are stored as nested lists, containing order ID, customer name, and a list of purchased items.
### **Task: Flattening & Processing Orders**

In [ ]:
orders = [
    [101, "Alice", ["Laptop", "Mouse"]],
    [102, "Bob", ["Keyboard", "Monitor", "Mousepad"]],
    [103, "Charlie", ["Phone", "Charger", "Headphones"]],
]
orders

[[101, 'Alice', ['Laptop', 'Mouse']],
 [102, 'Bob', ['Keyboard', 'Monitor', 'Mousepad']],
 [103, 'Charlie', ['Phone', 'Charger', 'Headphones']]]

In [ ]:
# Flatten the items purchased by all customers
purchased_items = [item for order in orders for item in order[2]]
print(f'purchased_items: {purchased_items}')
# Count the frequency of each item
from collections import Counter
# Counter?
item_counts = Counter(purchased_items)

print("Item Purchase Frequency:", item_counts)

purchased_items: ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Mousepad', 'Phone', 'Charger', 'Headphones']
Item Purchase Frequency: Counter({'Laptop': 1, 'Mouse': 1, 'Keyboard': 1, 'Monitor': 1, 'Mousepad': 1, 'Phone': 1, 'Charger': 1, 'Headphones': 1})

### Scenario 2: Analyzing Sensor Data
You receive data from multiple IoT sensors.

Each sensor provides multiple readings throughout the day,
and you need to analyze them.

#### Task: Filtering & Aggregating Sensor Readings

In [ ]:
sensor_readings = [
    {"sensor_id": 1, "readings": [22.5, 23.0, 22.8, 23.1]},
    {"sensor_id": 2, "readings": [19.8, 20.1, 19.5, 20.0]},
    {"sensor_id": 3, "readings": [25.0, 24.8, 25.2, 24.9]},
]

# Extract all readings
all_readings = [reading for sensor in sensor_readings for reading in sensor["readings"]]
print(all_readings)

# Find average temperature across all sensors
average_temp = sum(all_readings) / len(all_readings)
print(f"Average Temperature: {average_temp:.2f}°C")

[22.5, 23.0, 22.8, 23.1, 19.8, 20.1, 19.5, 20.0, 25.0, 24.8, 25.2, 24.9]
Average Temperature: 22.56°C

### Scenario 3: Cleaning & Normalizing User Input Data

You receive messy user input, and you need to clean and normalize it.

####Task: Cleaning Data Entries

In [ ]:
raw_user_inputs = [
    ["  Alice   ", "Engineer", "  28"],
    ["BOB", " Data Scientist  ", "35 "],
    [" charlie  ", " Doctor ", "40"],
]

# Clean and normalize the data
cleaned_data = []
for row in raw_user_inputs:
    cleaned_row = []
    for entry in row:
        if isinstance(entry, str):
            cleaned_row.append(entry.strip().title())
        else:
            cleaned_row.append(entry)
    cleaned_data.append(cleaned_row)

print(cleaned_data)

[['Alice', 'Engineer', '28'], ['Bob', 'Data Scientist', '35'], ['Charlie', 'Doctor', '40']]

### Scenario 4: Filtering Social Media Comments

You have a list of comments from a social media post, and you need to filter out spam messages and identify trending words.

#### Task: Removing Spam & Extracting Popular Words

In [ ]:
comments = [
    "Check out this AMAZING offer!!!",
    "Great post! I really enjoyed reading it.",
    "Follow me for free giveaways! Click here!",
    "This is very insightful, thanks for sharing!",
    "Visit my website for discounts!"
]

# Define spam keywords
spam_keywords = ["offer", "free", "click here", "visit my website"]

# Remove spam comments
filtered_comments = []
for comment in comments:
    if not any(word.lower() in comment.lower() for word in spam_keywords):
        filtered_comments.append(comment)

# Extract popular words
words = []
for comment in filtered_comments:
    for word in comment.split():
        words.append(word.lower())

# Count word occurrences
word_count = Counter(words)


print("Filtered Comments:", filtered_comments)
print("Most Common Words:", word_count.most_common(5))

Filtered Comments: ['Great post! I really enjoyed reading it.', 'This is very insightful, thanks for sharing!']
Most Common Words: [('great', 1), ('post!', 1), ('i', 1), ('really', 1), ('enjoyed', 1)]

### Scenario 5: Managing Financial Transactions

You have a record of financial transactions (deposits and withdrawals), and you need to calculate the net balance.

#### Task: Summing Deposits & Withdrawals

In [ ]:
transactions = [
    {"type": "deposit", "amount": 1500},
    {"type": "withdrawal", "amount": 500},
    {"type": "deposit", "amount": 2000},
    {"type": "withdrawal", "amount": 700},
]

# Calculate net balance
net_balance = sum(t["amount"] if t["type"] == "deposit" else -t["amount"] for t in transactions)

print(f"Net Account Balance: ${net_balance}")

Net Account Balance: $2300

# Practice Time

#### 1. Find the Most Frequently Purchased Item
You have a list of items that customers purchased. Find and return the most frequently purchased item.

In [ ]:
# input
purchases = ["shoes", "bag", "shoes", "watch", "bag", "shoes", "hat"]
purchases

['shoes', 'bag', 'shoes', 'watch', 'bag', 'shoes', 'hat']

**Hint:**

Use the Counter class from the collections module to count occurrences.

**Expected Output:**

"shoes"

#### 2. Detect Consecutive Declining Stock Prices
A company tracks its stock price daily. If the price decreases for three consecutive days, return the first day where this pattern starts.

In [ ]:
# input
stock_prices = [100, 98, 97, 95, 96, 94, 93, 92]
stock_prices

[100, 98, 97, 95, 96, 94, 93, 92]

**Hint:**

Use a loop to compare each day’s price with the next two days.

**Expected Output:**

97  # (First day of three consecutive declines: 98 -> 97 -> 95)

#### 3. Simulating a To-Do List
Create a to-do list system where:

- Tasks are stored as a list of dictionaries ({"task": task_name, "status": "pending"}).
- The user can mark a task as completed by providing its name.
- The system should print the updated to-do list.

In [ ]:
tasks = [
    {"task": "Pay bills", "status": "pending"},
    {"task": "Buy groceries", "status": "pending"},
    {"task": "Schedule appointment", "status": "pending"}
]

completed_task = "Buy groceries"

**Hint:**

Loop through the list and update the dictionary when the task name matches.

**Expected Output:**

[
    {"task": "Pay bills", "status": "pending"},
    {"task": "Buy groceries", "status": "completed"},
    {"task": "Schedule appointment", "status": "pending"}
]

#### 4. Extract Users with Missing Information
A company has user profiles stored as dictionaries in a list.

Some users have missing information (`None`).

Find users with **at least one missing field** and return their names.

In [ ]:
users = [
    {"name": "Alice", "email": "alice@example.com", "phone": None},
    {"name": "Bob", "email": None, "phone": "123-456-7890"},
    {"name": "Charlie", "email": "charlie@example.com", "phone": "987-654-3210"}
]
users

[{'name': 'Alice', 'email': 'alice@example.com', 'phone': None},
 {'name': 'Bob', 'email': None, 'phone': '123-456-7890'},
 {'name': 'Charlie', 'email': 'charlie@example.com', 'phone': '987-654-3210'}]

**Hint:**

Check if any value in the dictionary is None using a loop.

**Expected Output:**

["Alice", "Bob"]

#### 5. Merge and Deduplicate Two Contact Lists
You have two separate lists of contacts. Some contacts appear in both lists.

Merge them into a single list without duplicates.

In [ ]:
contacts_a = ["alice@example.com", "bob@example.com", "charlie@example.com"]
contacts_b = ["david@example.com", "alice@example.com", "charlie@example.com"]

**Hint:**

Convert the lists to a set to remove duplicates and then back to a list.

**Expected Output:**

["alice@example.com", "bob@example.com", "charlie@example.com", "david@example.com"]

### Final Notes
- Use list comprehensions, loops, sets, and dictionaries where appropriate.
- If you're stuck, print intermediate results to debug your code.
- Think about real-world applications of each problem—this will help in actual programming scenarios!